<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyAYA1eCg1ToFOxVfVxqZHzqNnNJFgnLNYw"></script>

	<title>Classified | Perc</title>
</head>

<body>
	<div id="app">{{{ react }}}</div>

	{{>javascripts}}	
</body>
</html>